body {
  font-family: Futura, sans-serif;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding: 50px;
  background-color: #a2c5bf;

}
a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ff6860;
}
a:visited {
  color: #6d6e71;
}
nav strong {
  font-style: italic;
}
nav,
h1 {
  text-align: center;
  color: #000000;
}
h1,
h2 {
  text-transform: uppercase;
  color: #000000;
}
.avatar {
  border: 1px solid #000000;
  padding: 5px;
  float: right;
  clear: right;
  background-color: #FFFFFF;
  margin: 20px 0 20px 20px;
  width: 180px;
  height: 230px;
}
hr {
  clear: right;/*I wanted the bottom horizontal line to be fully below the pic, hence this declaration.*/
  border: 5px solid #ffb1ad;
  padding: 1px;
  background-color: #ffb1ad;
}
h2 {
  font-size: 18px;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}
p {
  font-size: 16px;
  color: #000000;
/*I wanted to apply line-height as well but it resulted in the opposite effect. I wonder why...*/
}
ul {
  font-size: 16px;
  color: #000000;
}
li {
  list-style: square;
}
.portfolio-job {
  letter-spacing: 3px;
}
.sample-site{
  padding-bottom: 20px;
}
.social-links {
  margin: 30px 0 30px 0;
}
